*{
    box-sizing: border-box;
}
body{
    background-color: #e8eaf6;
}
header{
    position:relative;
}
.back-profile{
    position:absolute;
    top:20px;
    left:20px;
    text-decoration:none;
    color:#333;
    font-size:24px;
    transition:color 0.2s;
}

.back-profile:hover{
    color:#d81b60;
}
.main-photo{
    width:400px;
    height:400px;
    max-width:100%;
    object-fit:cover;
    border-radius:20%;
}
.about{
    text-align:left;
    padding:20px;
    background-color:#f3f4ff;
    border-radius:8px;
    margin-bottom:20px;
    transition:transform 0.3s ease, box-shadow 0.3s ease;
}
.about:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
.me{
    font-size:24px;
    font-weight:bold;
    margin-bottom:10px;
    text-align:left;
}
.project{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    width:100%;
}

.project-container article{
    width:300px;
    padding:20px;
    text-align:center;
    background-color:#f3f4ff;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:transform 0.3s ease, box-shadow 0.3s ease;
}
.project-container article:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
/*button styling*/
.cta-button{
    background-color: #d81b60;
    color:white;
    text-decoration:none;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    font-weight: bold;
    width:auto;
}
.cta-button a{
    color:white;
    text-decoration:none; 
}
.cta-button:hover{
    background-color: #8c0589;
}
.footer{
    background-color:#f3f4ff;
    color:#616161;
    width:100%;
    padding:12px 20px;
    margin-top:20px;
    text-align:center;
    border-radius:8px;
}
ul{
    padding-left:0;
}

li i{
    margin-right:8px;
}

a{
    overflow-wrap:anywhere;
}
@media (max-width:600px){

    body{
        padding:15px;
        margin:0;
    }
    .main-photo{
        width: 250px;
        height:250px;
    }

    .project-container{
        flex-direction:column;
        align-items:center;
    }

    .project-container article{
        width:100%;
        max-width:300px;
    }
    .project-container article img{
    width:200px;
    height:200px;
    max-width:100%;
    object-fit:cover;
}
    .project-container article:active{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    }

    textarea{
        width:100%;
        max-width:100%;
    }

    .footer{
        width:100%;
    }
}